#brand {
  overflow: hidden;
  h2 {
    color: #ffc800;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 40px;
    margin-left: -40px;
    padding-left: 44px;
    background: url('/assets/images/brand_sub_icon.svg') top left no-repeat;
    @media screen and (max-width: $tb) {
      margin-left: 0;
    }
  }
  p {
    color: #bdbdbd;
  }
  .brands {
    color: #bdbdbd;
  }
  .brands-nav {
    padding: 50px 0 200px;
    @media screen and (max-width: $tb) {
      padding-bottom: 50px;
    }
  }
  .carousel {
    padding: 0;
    background: #181818;
  }
  // serial
  .serial-detail {
    color: #fff;
  }
  &.page-device {
    .siries-image {
      padding-top: 30px;
    }
  }
}

#footer {
  background: #181818;
}

.brands {
  color: #fff;
}

#carouselExampleIndicators {
  &[class^="logo"] {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 260px;
      height: 110px;
      max-height: 20%;
      margin: 0 auto;
      background: transparent center / contain no-repeat;
      transform: translate(-50%, -50%);
      z-index: 100;
    }
  }
  &.logo-stx {
    &::before {
      background-image: url("/assets/images/logo_stx.png");
    }
  }
  &.logo-slash {
    &::before {
      background-image: url("/assets/images/logo_slash.png");
    }
  }
  &.logo-s-air {
    &::before {
      background-image: url("/assets/images/logo_s_air.png");
    }
  }
  &.logo-s-heat {
    &::before {
      background-image: url("/assets/images/logo_s_heat.png");
    }
  }
  .carousel-inner {
    background: #181818;
  }
}

// Siries
.siries-image {
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}