// PC, SP Only
.pc {
  display: initial;
  @media screen and (max-width: $tb) {
    display: none;
  }
}
.sp {
  display: none;
  @media screen and (max-width: $sp) {
    display: initial;
  }
}

// Catalog,Corporate Header
.header-banner {
  position: relative;
  height: 240px;
  width: 100%;
  background: #181818 center / cover no-repeat;
  @media screen and (max-width: $tb) {
    height: 160px;
  }
  @media screen and (max-width: $sp) {
    height: 120px;
  }
  &::before {
    position: absolute;
    top: 0;
    content: "";
    background: rgba(#000, 0.3);
    height: 100%;
    width: 100%;
  }
  .subtitle-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.header-banner .banner-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container {
  .flex-d .social-link {
    display: inline-block;
    border-radius: 50%;
    height: 160px;
    width: max(160px, 25%);
    background: #333333;
    &:hover {
      background: #4d4d4d;
    }
    @media screen and (max-width: $tb) {
      width: 80px;
      height: 80px;
    }
    @media screen and (max-width: $sp) {
      width: 60px;
      height: 60px;
    }
    .img {
      display: inline-block;
      padding: 30%;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

.text-wrap {
  padding: 0 calc(var(--bs-gutter-x) * .5) ;
}

.breadcrumb {
  max-width: $tb;
  margin: 0 auto;
  padding-top: 15px;
  a {
    text-decoration: none;
    color: #bdbdbd;
  }
  &-item {
    margin: 0;
    color: #dbdbdb;
    &.active {
      color: #dbdbdb;
    }
    &::before {
      color: #dbdbdb;
    }
  }
}
// LINK
.view-more,
.page-link,
.button-link {
  text-align: center;
  a {
    position: relative;
    display: inline-block;
    padding: 18px 28px;
    background: #ffc801;
    color: #101010;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    width: 320px;
    max-width: 100%;
    text-align: center!important;
    &::after {
      position: absolute;
      top: 50%;
      right: 10px;
      content: "\e5e1";
      font-family: "Material Symbols Rounded";
      font-style: normal;
      transform: translateY(-50%);
      @media screen and (max-width: $tb) {
        right: 4;
      }
    }
    &:hover {
      background: #ffe584;
    }
    @media screen and (max-width: $tb) {
      font-size: 16px;
      padding: 16px;
    }
  }
}
.view-more {
  a {
    width: 216px;
    font-style: italic;
  }
}
// header banner
.header-banner {
  width: 100%;
  height: 240px;
  padding: 0;
  margin-bottom: 32px;
}

.brands-link {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 80px 0 50px!important;
  list-style: none;
  li {
    display: flex;
    width: unquote("calc((100% - 3px) / 4)");
    height: 64px;
    padding: 2px;
    border-right: solid 1px #fff;
    line-height: 0;
    &:last-child {
      border: none;
    }
    @media screen and (max-width: $tb) {
      width: unquote("calc((100% - 1px) / 2)");
      &:not(:nth-of-type(2n - 1)) {
        border: none;
      }
    }
  }
  a {
    display: inline-block;
    margin: auto;
    padding: 12px 10px;
  }
  img {
    height: 40px;
    width: auto;
    object-fit: contain;
    object-position: center;
    @media screen and (max-width: $tb) {
      height: 30px;
    }
  }
}

h2.section-title {
  color: #ffc800;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 40px;
  padding-left: 44px;
  background: url('/assets/images/brand_sub_icon.svg') top left no-repeat;
}