.button-link {
  a {
    color: #101010;
    background: #ffc800;
    width: 320px;
    max-width: 100%;
  }
}

.link-tech {
  position: absolute;
  right: 0;
  bottom: 0;
}
.more {
  a {
    display: block;
    color: inherit;
  }
  p {
    border: 1px solid #fff;
    padding: 10px;
    letter-spacing: 4px;
    text-align: center;
  }
}